<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.xmu.edu.legaldocument.mapper.LegalDocMapper" >
  <resultMap id="BaseResultMap" type="cn.xmu.edu.legaldocument.entity.LegalDoc" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="path" property="path" jdbcType="VARCHAR" />
    <result column="is_enrich" property="isEnrich" jdbcType="TINYINT" />
    <result column="author" property="author" jdbcType="VARCHAR" />
    <result column="bookname" property="name" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, path, is_enrich, author, bookname
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from legal_doc
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select
    <include refid="Base_Column_List" />
    from legal_doc
     order by id
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from legal_doc
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="cn.xmu.edu.legaldocument.entity.LegalDoc" useGeneratedKeys="true" keyProperty="id" >
    insert into legal_doc ( path, is_enrich,
      author, bookname,is_public)
    values ( #{path,jdbcType=VARCHAR}, #{isEnrich,jdbcType=TINYINT},
      #{author,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR},#{isPublic,jdbcType=TINYINT})
  </insert>
  <insert id="insertPersonalLegalDoc" parameterType="cn.xmu.edu.legaldocument.entity.PersonalLegaldocStack" useGeneratedKeys="true" keyProperty="id" >
    insert into personal_legaldoc_stack (user_id,book_id)
    values ( #{userId,jdbcType=BIGINT}, #{bookId,jdbcType=BIGINT})
  </insert>
  <select id="getLastBookId" resultType="java.lang.Long">
    select id
    from legal_doc
    order by id DESC limit 1
  </select>
  <update id="updateByPrimaryKey" parameterType="cn.xmu.edu.legaldocument.entity.LegalDoc" >
    update legal_doc
    set path = #{path,jdbcType=VARCHAR},
      is_enrich = #{isEnrich,jdbcType=TINYINT},
      author = #{author,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="setLegalDocEnriched" parameterType="java.lang.Long" >
    update legal_doc
    set is_enrich = 1
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>