<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.xmu.edu.legaldocument.mapper.PersonalLegaldocStackMapper" >
  <resultMap id="BaseResultMap" type="cn.xmu.edu.legaldocument.entity.PersonalLegaldocStack" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="user_id" property="userId" jdbcType="BIGINT" />
    <result column="book_id" property="bookId" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, user_id, book_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select
    <include refid="Base_Column_List" />
    from personal_legaldoc_stack
    where id = #{id,jdbcType=BIGINT}
  </select>

  <select id="selectPageByUserId" resultMap="BaseResultMap"  >
    select
    <include refid="Base_Column_List" />
    from personal_legaldoc_stack
    where user_id = #{userId,jdbcType=BIGINT} limit #{num1},#{num2}
  </select>


  <select id="getUserAllNumByUserId" resultType="java.lang.Integer"  >
    select COUNT(id)
    from personal_legaldoc_stack
    where user_id = #{userId,jdbcType=BIGINT}
  </select>
  <select id="selectByUserId" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select
    <include refid="Base_Column_List" />
    from personal_legaldoc_stack
    where user_id = #{userId,jdbcType=BIGINT}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from personal_legaldoc_stack
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="cn.xmu.edu.legaldocument.entity.PersonalLegaldocStack" useGeneratedKeys="true" keyProperty="id">
    insert into personal_legaldoc_stack ( user_id, book_id
      )
    values ( #{userId,jdbcType=BIGINT}, #{bookId,jdbcType=BIGINT}
      )
  </insert>


  <update id="updateByPrimaryKey" parameterType="cn.xmu.edu.legaldocument.entity.PersonalLegaldocStack" >
    update personal_legaldoc_stack
    set user_id = #{userId,jdbcType=BIGINT},
      book_id = #{bookId,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <select id="selectByBookIdAndUserId" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from personal_legaldoc_stack
    where user_id = #{userId,jdbcType=BIGINT} and
    book_id = #{bookId,jdbcType=BIGINT}
  </select>

  <delete id="deleteByBookIdAndUserId"  parameterType="java.lang.Long" >
    delete from personal_legaldoc_stack
    where user_id = #{userId,jdbcType=BIGINT} and
    book_id = #{bookId,jdbcType=BIGINT}
  </delete>
</mapper>
